@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}
@section Styles{ 
    <style>
        .body-container {
            margin: 0 30px;
        }

        footer {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            text-align: center;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            footer > div {
                margin: 0 15px;
            }
    </style>
}

<div class="text-center home-header">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center card home-body">
    <h3 class="display-6">Choose a type of question below</h3>
    <a asp-page="/Questions/Technical" class="btn btn-dark">Technical</a>
    <a asp-page="/Questions/Behavioral" class="btn btn-dark">Behavioral</a>
    <a asp-page="/Questions/Whiteboard" class="btn btn-dark">Whiteboard</a>
    <a asp-page="/Questions/Traversals" class="btn btn-dark">Traversals</a>
    <h3 class="display-8">These are also available in the top left</h3>
</div>

@section Footer{
    <footer>
        <a href="https://www.linkedin.com/in/nicholas-j-ryan/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
        <div>Brought to you by Nicco Ryan<br />Contact on LinkedIn if you'd like to contribute questions</div>
        <a href="https://github.com/Niccoryan0" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    </footer>
}