@page
@model InterviewPrepApp.Pages.Questions.TechnicalModel
@{
    ViewData["Title"] = "Technical";
    Layout = "_QuestionLayout";
}

<h1>Technical</h1>

@section Question {
    <p class="font-weight-bold blue-text">@Model.Question.Question</p>
    <p>Category: @Model.Question.Category</p>
    <p class="click-flip-explanation">Click to see answer</p>
}

@section Answer {
    <p class="font-weight-bold blue-text">@Model.Question.Answer</p>
}

