@page
@model InterviewPrepApp.Pages.Questions.WhiteboardModel
@{
    ViewData["Title"] = "Behavioral";
    Layout = "_QuestionLayout";
}

<h1>Technical</h1>

@section Question {
    <p class="font-weight-bold blue-text">@Model.Question.Question</p>
}