@{
    Layout = "_Layout";
}
@section DashTable {
    <div class="card">
        <form method="post" class="add-form">
            @RenderSection("FormInsides", true)
        </form>
    </div>
    <table class="table">
        <thead>
            @RenderSection("TableHead", true)

        </thead>
        <tbody>
            @RenderSection("TableRows", true)
        </tbody>
    </table>
}